<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hroopendagtest1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".popActivity"
            android:label="@string/title_activity_popup"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".contact_form"
            android:label="@string/title_activity_openday"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".floor_plan"
            android:label="@string/floorplans"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".generalInformation"
            android:label="@string/general_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".openday"
            android:label="@string/title_activity_openday"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".settings"
            android:label="@string/title_activity_settings"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".study_program_screen"
            android:label="@string/title_activity_study_program_screen"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:background="?background">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>