<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hroopendagtest1">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/hro_icon_text"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">

        <activity
            android:name=".wijnhaven107"
            android:label="Wijnhaven107"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".wijnhaven103"
            android:label="Wijnhaven103"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".wijnhaven99"
            android:label="Wijnhaven99"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".openday3"
            android:label="@string/title_activity_openday3"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".openday2"
            android:label="@string/title_activity_openday2"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".camd"
            android:label="@string/title_activity_camd"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".cmgt"
            android:label="@string/title_activity_cmgt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".technische_informatica"
            android:label="@string/title_activity_technische_informatica"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".communicatie"
            android:label="@string/title_activity_communicatie"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".contact_form"
            android:label="@string/title_activity_contact_form"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".floor_plan"
            android:label="@string/floorplans"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".generalInformation"
            android:label="@string/general_information"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".openday"
            android:label="@string/title_activity_openday"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".study_program_screen"
            android:label="@string/title_activity_study_program_screen"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:background="?background"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>


</manifest>